<div id="sidebar-default" class="main-sidebar fix-scroll">
  <div class="current-user">
    <a href="#" class="name">
      <%= image_tag avatar_icon(current_user.email, 120), class: "avatar" %>
      <span>
	        <%= current_user.name %>
          <i class="fa fa-chevron-down"></i>
        </span>
    </a>
    <ul class="menu">
      <li>
        <a href="#">Account settings</a>
      </li>
      <li>
        <a href="#">Billing</a>
      </li>
      <li>
        <a href="#">Notifications</a>
      </li>
      <li>
        <a href="#">Help / Support</a>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          로그아웃
        <% end %>
      </li>
    </ul>
  </div>
  <div class="menu-section">
    <h3>General</h3>
    <ul>
      <li>
        <%= active_elem_if :a, params[:controller] == 'home' && params[:action] == 'index',
            href: root_path do %>
          <i class="ion-android-earth"></i>
          <span>대시보드</span>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="menu-section">
    <h3>tickets</h3>
    <ul>
      <li>
        <%= active_elem_if :a, params[:status] == 'open' && params[:assignee_id].to_i == 0,
            href: tickets_path do %>
          <i class="fa fa-inbox"></i>
          <span><%= t(:inbox) %></span>
          <span class="counter">
            <%= Ticket.viewable_by(current_user).open.count %>
          </span>
        <% end %>
        <ul>
          <li>
            <%= active_elem_if :a, params[:status] == 'open' && params[:assignee_id].to_i == current_user.id,
                href: tickets_path(assignee_id: current_user.id) do %>
              <i class="fa fa-user"></i>
              <span><%= t(:mine) %></span>
              <span class="counter">
                <%= Ticket.viewable_by(current_user).open.filter_by_assignee_id( current_user.id).count %>
              </span>
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <%= active_elem_if :a, params[:status] == 'waiting', href: tickets_path(status: 'waiting') do %>
          <i class="fa fa-clock-o"></i>
          <span><%= t('activerecord.attributes.ticket.statuses.waiting') %></span>
          <span class="counter">
            <%= Ticket.viewable_by(current_user).waiting.count %>
          </span>
        <% end %>
      </li>
      <li>
        <%= active_elem_if :a, params[:status] == 'closed', href: tickets_path(status: 'closed') do %>
          <i class="fa fa-check"></i>
          <span><%= t(:closed_tickets) %></span>
          <span class="counter">
            <%= Ticket.viewable_by(current_user).closed.count %>
          </span>
        <% end %>
      </li>
      <li>
        <%= active_elem_if :a, params[:status] == 'deleted', href: tickets_path(status: 'deleted') do %>
          <i class="fa fa-trash-o"></i>
          <span><%= t(:trashed) %></span>
          <span class="counter">
            <%= Ticket.viewable_by(current_user).deleted.count %>
          </span>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="bottom-menu hidden-sm">
    <ul>
      <li><a href="#"><i class="ion-help"></i></a></li>
      <li>
        <a href="#">
          <i class="ion-archive"></i>
          <span class="flag"></span>
        </a>
        <ul class="menu">
          <li><a href="#">5 unread messages</a></li>
          <li><a href="#">12 tasks completed</a></li>
          <!-- <li><a href="#">3 features added</a></li> -->
        </ul>
      </li>
      <li>
	      <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="ion-log-out"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
