<%= content_for :body_id, "sidebar" %>

<div id="app-sidebar">
  <div class="scroll-wrapper">
    <div class="menubar relative">
      <div class="message-select-handler hidden-xs hidden-sm">
        <input type="checkbox" class="select-ticket">
      </div>
      <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
      </div>
      <%= form_tag tickets_path, method: :get, class: 'prm' do %>
        <%= hidden_field_tag(:assignee_id, params[:assignee_id]) unless params[:assignee_id].blank? %>
        <%= hidden_field_tag :status, params[:status] %>
        <i class="fa fa-search"></i>
        <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: t('search_ticket') %>
      <% end %>
    </div>

    <div class="messages scrollable">
	    <%= render @tickets %>
	    <div class="infinite-scroll">
	      <%= will_paginate @tickets %>
	    </div>
    </div>

  </div>
</div>

<div id="app-message"></div>
