<%= content_for :body_id, 'signin' %>

<div class="bg clear">
  <%= link_to root_path(subdomain: false), class: 'logo' do %>
		<%= image_tag 'alfred_logo.png', alt: 'Alfred', height: '60' %>
  <% end %>

  <h3><%= t('account.sigin') %></h3>

  <div class="content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="fields">
        <strong><%= t('account.email') %></strong>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t('account.password') %>
      </div>
      <div class="fields">
        <strong><%= t('account.password_label') %></strong>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t('account.password_confirmation') %>
      </div>
      <div class="info">
        <label>
          <%= f.check_box :remember_me, checked: "checked" %>&nbsp;Remember me
        </label>
      </div>
      <div class="actions">
        <%= f.submit t('account.signin_and_go_dashboard'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
	<div class="bottom-wrapper"></div>

	<%= content_for :custom_script do %>
	  <script type="text/javascript">
		  $(function () {
			  var $switcher = $(".signup-switcher a");
			  $switcher.click(function (e) {
				  e.preventDefault();
				  $switcher.removeClass("active");
				  $(this).addClass("active");
				  $(".bg").attr("class", "bg " + $(this).data("class"));
			  });
		  });
	  </script>
	<% end %>

</div>
